# Ignore Python virtual environments
venv/
.venv/

# Ignore configuration files
config.py
run.bat
stop.bat
chatbot-ai-9b525-d61b3ea81a47.json

# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variable files
*.env
log_output.csv
